/* change whatever to make it cute! here's the color palette from our chosen color palette:
baby pink: #f6d9de
pink-purple: #c490be
lavender: #897dab
dark periwinkle blue: #8695c0
pale sky blue: #b2c7df
baby blue/close to white: #dfe8ef

we can discuss font in the group chat. try to make modules rounded and simple and cute!
 */

body {
    background: #dfe8ef;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: #8695c0;
}
.hidden {
    display: none;
}
#pet-area img {
    width: 200px;
}
