/* change whatever to make it cute! here's the color palette from our chosen color palette:
baby pink: #f6d9de
pink-purple: #c490be
lavender: #897dab
dark periwinkle blue: #8695c0
pale sky blue: #b2c7df
baby blue/close to white: #dfe8ef

we can discuss font in the group chat. try to make modules rounded and simple and cute!
 */

body {
    background: #dfe8ef;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: #8695c0;
}
#pet-area img {
    width: 200px;
}
#pet-name {
    font-size: 1rem;
    font-weight: bold;
}
#inventory-module, #shop-module {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: #dfe8ef
}

#ui-panels {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.panel {
    background: #b2c7df;
    padding: 15px;
    width: 40%;
    border-radius: 12px;
}
.sub-panel {
    background: #dfe8ef;
    padding: 15px;
    width: 80%;
    border-radius: 12px;
    justify-content: space-around;
    margin: 10px auto;
}
.hidden {
    display: none;
}