/* change whatever to make it cute! here's the color palette from our chosen color palette:
baby pink: #f6d9de
pink-purple: #c490be
lavender: #897dab
dark periwinkle blue: #8695c0
pale sky blue: #b2c7df
baby blue/close to white: #dfe8ef

we can discuss font in the group chat. try to make modules rounded and simple and cute!
 */

body {
    background: #dfe8ef;
    font-family: Verdana, sans-serif;
    text-align: center;
    color: #8695c0;
}
#pet-area img {
    width: 200px;
}
#pet-name {
    font-size: 1rem;
    font-weight: bold;
}
#inventory-module, #shop-module {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    color: #dfe8ef
}

#ui-panels {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.panel {
    background: #b2c7df;
    padding: 15px;
    width: 40%;
    border-radius: 12px;
}
.sub-panel {
    background: #dfe8ef;
    padding: 15px;
    width: 80%;
    border-radius: 12px;
    justify-content: space-around;
    margin: 10px auto;
}
#pet-area {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    position: relative;
    perspective: 1000px;
    padding-top: 40px;
    padding-bottom: 10px;
}
#flashcard-module {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    position:  relative;
    perspective: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#flashcard-card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .6s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#flashcard-module::before, #flashcard-module::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 180px;
    background: #b2c7df;
}
#flashcard-module::before {
    top:10px;
}
#flashcard-module::after {
    top: 20px;
}
#setting-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.side {
    width: 80%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 12px;
    padding: 30px;
    box-sizing: border-box;
    background: #b2c7df;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#flashcard-answer {
    margin-top: 30px;
    text-align: center;
    transform: rotateY(180deg);
}
.flipped {
    transform: rotateY(180deg);
}
#flashcard-counter {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    z-index: 10;
}
.hidden {
    display: none;
}